.newheader {
  background-color: #343f4d;
  height: 48px;
  width: 100%;
  color: #ffffff;
}
.header-area {
  margin: 0 auto;
  /* max-width: 1200px; */
  /* min-width: 1000px; */
  height: 48px;
  position: relative;
}
.mainMenu {
  float: left;
}
.mainMenu li {
  margin: 0;
  display: block;
  height: 48px;
  text-align: center;
  line-height: 46px;
  padding: 0 15px;
  float: left;
}
.span-style {
  line-height: 3;
  margin-left: 20px;
  color: #ffffff;
  /* font-family: "彩云";
  font-size: 14px; */
  cursor: pointer;
}
.logo2 {
  background: url('../img/logo.png') no-repeat;
  width: 380px;
  height: 47px;
  float: left;
  margin-left: 30px;
  margin-right: 445px;
}
.logReg {
  float: right;
  width: 160px;
  line-height: 46px;
}
.teacher-info {
  position: absolute;
  right: 50px;
  top: 0;
}
.teacher-info a {
  color: #ffffff;
  text-decoration: none;
}
.teacher-info img {
  vertical-align: middle;
}
.teacher-info span {
  color: #bcd6ce;
  margin: 0 10px;
  font-style: normal;
}
