<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <!-- <link rel="manifest" href="../static/build/manifest.json"> -->
  <!-- <link rel="shortcut icon" href="../static/build/favicon.ico"> -->
  <title>React App</title>
  <link href="../static/build/static/css/main.0533111a.css" rel="stylesheet">
</head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Ba7LpEyPhrbiGh5s8msjIs226XjZ6zlH"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/library/RectangleZoom/1.2/src/RectangleZoom_min.js"></script>
  <script type="text/javascript" src="../static/build/static/js/main.c15cf281.js"></script>
</body>
</html>
